.orangeClass {
  fill : orange
}

.orangeClass:hover{
  fill : pink
}

#es:hover{
  fill : pink
}

#gb:hover{
  fill : pink
}

path:hover {
  fill : green
}

tr:nth-child(even) {
  background-color: lightgray;
}

table, thead, th {border: 1px solid black;}
