.orangeClass {
  fill : orange
}

.orangeClass:hover{
  fill : pink
}

#es:hover{
  fill : pink
}

#gb:hover{
  fill : pink
}

path:hover {
  fill : green
}

tr:nth-child(even) {
  background-color: lightgray;
}

table, thead, th {border: 1px solid black;}

#outbox_div {
  border: 3px solid grey;
  border-radius:2px;
  height:200px;
  width:80%;
  overflow-y:scroll;
}
