/* You can add global styles to this file, and also import other style files */

/*
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #20272a;
  font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #404C51;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  display: block;
}
*/

/*** The Essential Code ***/

$leftFullWidth: 200px;
$leftWidth: 180px;
$leftWidthWithPadding: 240px;
$rightFullWidth: 190px;
$rightWidth: 130px;


body {
  min-width: 630px;         /* 2 x (LC fullwidth + CC padding) + RC fullwidth */
}

#container {
  padding-left: $leftFullWidth;      /* LC fullwidth */
  padding-right: $rightFullWidth;    /* RC fullwidth + CC padding */
}

#container .column {
  position: relative;
  float: left;
}

#center {
  padding: 10px 20px;       /* CC padding */
  width: 100%;
}

#left {
  width: $leftWidth;              /* LC width */
  padding: 0 10px;                /* LC padding */
  right: $leftWidthWithPadding;   /* LC fullwidth + CC padding */
  margin-left: -100%;
}

#right {
  width: $rightWidth;       /* RC width */
  padding: 0 10px;          /* RC padding */
  margin-right: -100%;
}

#footer {
  clear: both;
  width: 100vw;
  position: fixed;
  bottom: 0px;
}

/*** IE Fix ***/
* html #left {
  left: 150px;              /* RC fullwidth */
}

/*** Equal-height Columns ***/

#container {
  overflow: hidden;
}

#container .column {
  padding-bottom: 1001em;     /* X + padding-bottom */
  margin-bottom: -1000em;     /* X */
}

/*** Footer Fix ***/

* html body {
  overflow: hidden;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #FFF;         /*** Same as body background ***/
}

/*** Just for Looks ***/

body {
  margin: 0;
  padding: 0;
  background: #FFF;
}

#header, #footer {
  font-size: large;
  text-align: center;
  padding: 0.3em 0;
  background: #999;
}

#left {
  background: #66F;
}

#center {
  background: #DDD;
}

#right {
  background: #F66;
}

#container .column {
  padding-top: 1em;
  text-align: justify;
}
